.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  padding-top: 8px;
}

.elementsContainer {
  -webkit-user-select: none; /* Safari */
  user-select: none;
  background-color: white;

  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}