.container {
  display: flex;
  padding: 15px;

  flex-direction: column;
  gap: 7px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.errorMsg {
  color: red;
  font-size: 14px;
  font-weight: 500;
}